<p>Current Page: <%= @page_number %></p>

<%= link_to "Stores and Hours", stores_path %>

<h2>LCBO Products</h2>

<p>This will show a paged list of all LCBO Products</p>

<% @products['result'].each do |product| %>
	<section>
		<%= link_to product['name'], product_path(product['id']) %>
		<%= format_price product['price_in_cents'] %>
		<%= product['primary_category'] %>
		<%= image_tag product ['image_thumb_url'] %>
	</section>
	<% end %>

	<%= link_to "Next", products_url(:page => @next_page) %>